{#REGISTRO DE PACIENTE DENTRO DEL SISTEMA#}

{% extends 'form.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_form %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>
    <script src="{% static 'clients/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="." enctype="multipart/form-data" id="frmForm"
          data-url="{{ list_url }}">
        <div class="card {{ dshboard.card }}">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    {% else %}
                        <i class="fas fa-edit" aria-hidden="true"></i>
                    {% endif %}
                    {{ title }}
                </h3>
                <div class="card-tools">
                    <small>Su último acceso al sistema fue el {{ request.user.last_login }}</small>
                </div>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    <input type="hidden" name="action" id="action" value="{{ action }}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Nombres :</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Apellidos:</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>DNI cliente:</label>
                                {{ form.dni }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Email:</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-lg-4">
                            <div class="form-group">
                                <label>Sexo:</label>
                                {{ form.gender }}
                            </div>
                        </div> -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Teléfono celular:</label>
                                {{ form.mobile_phone }}
                            </div>
                        </div>
                        <!-- <div class="col-lg-4">
                            <div class="form-group">
                                <label>Teléfono fijo:</label>
                                {{ form.landline }}
                            </div>
                        </div> -->
                    </div>
{#                    <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                            <div class="form-group">#}
{#                                <label>Parroquia:</label>#}
{#                                {{ form.parish }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Imagen:</label>
                                {{ form.image|add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Password:</label>
                                {{ form.password }}
                            </div>
                        </div>
                    </div>
                    <div class="row"> -->
                       <div class="col-lg-4">
                            <div class="form-group">
                                <label>Fecha Ultima Regla:</label>
                                {{ form.birthdate }}
                            </div>
                        </div>
                        <!-- <div class="col-lg-8">
                            <div class="form-group">
                                <label>Dirección:</label>
                                {{ form.address }}
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save" aria-hidden="true"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}