{% extends 'form.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_form %}
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-v4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-v4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'datemedical/admin/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="." enctype="multipart/form-data" id="frmDateMedical"
          data-url="{{ list_url }}">
        <div class="card {{ dshboard.card }}">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-stethoscope"></i>
                    {{ title }}
                </h3>
                <div class="card-tools">
                    <small>Su último acceso al sistema fue el {{ request.user.last_login }}</small>
                </div>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    <input type="hidden" name="action" id="action" value="{{ action }}">
                    {% csrf_token %}
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">
                                Datos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">
                                Parámetros Médicos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">
                                Medicamentos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">
                                Exámenes
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container-fluid active" id="home">
                            <br>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Buscar Paciente:</label>
                                        <div class="input-group">
                                            {{ form.client }}
                                            <div class="input-group-append">
                                                <a class="btn btn-info my-group-button btn-flat btnAddClient">
                                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label>Paciente:</label>
                                        <div class="input-group">
                                            {{ form.client }}
                                            <div class="input-group-append">
                                                <a class="btn btn-info my-group-button btn-flat btnAddClient">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Fecha de atención:</label>
                                        {{ form.date_joined }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Fecha de la última regla:</label>
                                        {{ form.lastperiod_date }}
                                    </div>
                                </div>
                                <!-- <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Fecha Nacimiento:</label>
                                        {{ form.birthdate }}
                                    </div>
                                </div> -->
                                {% comment %} <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Valor:</label>
                                        {{ form.total }}
                                    </div>
                                </div> {% endcomment %}
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Sintomas:</label>
                                        {{ form.symptoms }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Diagnóstico:</label>
                                        {{ form.diagnosis }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Tratamiento:</label>
                                        {{ form.treatment }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container-fluid fade" id="menu1">
                            <br>
                            <table width="100%" class="table table-bordered" id="tblMedicalParameters">
                                <thead>
                                <tr>
                                    <th style="width: 70%;">Descripción</th>
                                    <th style="width: 30%;">Datos</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane container-fluid fade" id="menu2">
                            <br>
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Buscador de medicamentos o vacunas:</label>
                                                <div class="input-group mb-3">
                                                    <select class="custom-select select2"
                                                            name="searchmedicines"></select>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-success btn-flat btnClearMedicines"
                                                                type="button">
                                                            <i class="fas fa-sync-alt"></i> Limpiar
                                                        </button>
                                                        <button class="btn btn-danger btn-flat btnDeleteAllMedicines"
                                                                type="button">
                                                            <i class="fas fa-trash"></i> Eliminar todo
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered" id="tblMedicines">
                                        <thead>
                                        <tr>
                                            <th>Eliminar</th>
                                            <th>Medicamento</th>
                                            <th>Categoría</th>
                                            <th>Stock</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Subtotal</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="tab-pane container-fluid fade" id="menu3">
                            <br>
                            <table width="100%" class="table table-bordered" id="tblExams">
                                <thead>
                                <tr>
                                    <th style="width: 70%;">Examen</th>
                                    <th style="width: 30%;">Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save" aria-hidden="true"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>


        
    </form>



    <!-- MODAL PARA REGISTRAR CLIENTE NUEVO -->

<div id="myModalAddClient" class="modal fade" role="dialog">
    <form class="form" id="frmClient" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fa fa-plus" aria-hidden="true"></i> Nuevo registro de un Paciente </b>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        {% for field in frmClient.visible_fields %}
                        <div class="form-group">
                            <label>{{ field.label }}:</label> {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-flat btn-block">
                            <i class="fas fa-save"></i> Guardar registrooooo
                        </button>
                </div>


            </div>
        </div>
    </form>

</div>





<script type="application/javascript">
</script>
{% endblock %}