{% extends "mainpage/index.html" %} {% load static %} {% block headname %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<!-- <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
<!-- <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet"> -->
<!-- <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet"> -->
<!-- <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet"> -->
<link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet"> {% endblock headname %} {% block hero %} {% endblock %} {% block main %}
<main id="main">


    <section id="features " class="features section-bg ">
        <div class="container ">

            <div class="section-title ">
                <h2 data-aos="fade-in ">Features</h2>
                <h1>Esta ecografía se realiza entre la semana 11 y 14 de gestación. Permite evaluar lo siguiente:</h1>
            </div>

            <div class="row content ">
                <div class="col-md-5 " data-aos="fade-right ">
                    <img src="{% static 'assets/img/1.png' %} " class="img-fluid " alt=" ">
                </div>
                <div class="col-md-7 pt-4 " data-aos="fassumendaade-left ">
                    <!-- <h3></h3> -->
                    <p class="font-italic ">
                        Aspectos a tomar en cuenta para la ecografia:.
                    </p>
                    <ul>
                        <li><i class="icofont-check "></i> Fijar edad gestacional exacta.</li>
                        <li><i class="icofont-check "></i> Diagnosticar embarazo multiple.</li>
                        <li><i class="icofont-check "></i> Descartar anomalios fetales.</li>
                        <li><i class="icofont-check "></i> Evaluar riesgos de síndrome de down y otras anomalías cromosómicas.</li>
                    </ul>
                </div>
            </div>

            <div class="row content ">
                <div class="col-md-5 order-1 order-md-2 " data-aos="fade-left ">
                    <img src="{% static 'assets/img/2.png'' %} " class="img-fluid " alt=" ">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1 " data-aos="fade-right ">
                    <!-- <h3>Corporis temporibus maiores provident</h3> -->
                    <p class="font-italic ">
                        Las mujeres pueden ayudar a promover un embarazo saludable y el nacimiento de un bebé sano tomando las siguientes medidas antes de quedar embarazadas
                        <ul>
                            <li><i class="icofont-check "></i> Aumentar la ingesta diaria de ácido fólico (una de las vitaminas B) a al menos 400 microgramos2
                            </li>
                            <li><i class="icofont-check "></i> Asegurarse de tener las vacunas al día.</li>
                            <li><i class="icofont-check "></i> Controlar la diabetes y otras afecciones médicas.</li>
                            <li><i class="icofont-check "></i> No fumar, beber alcohol ni consumir drogas.</li>
                            <li><i class="icofont-check "></i> Tener un peso saludable.</li>
                            <li><i class="icofont-check "></i> Información sobre sus antecedentes de familia y los de su pareja.</li>
                            <li><i class="icofont-check "></i> Ayuda para problemas de depresión, y otros problemas de salud mental.</li>
                        </ul>
                </div>
            </div>

            <div class="row content ">
                <div class="col-md-5 " data-aos="fade-right ">
                    <img src="{% static 'assets/img/3.png' %} " class="img-fluid " alt=" ">
                </div>
                <div class="col-md-7 pt-5 " data-aos="fade-left ">
                    <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
                    <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                    <ul>
                        <li><i class="icofont-check "></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="icofont-check "></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="icofont-check "></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
                    </ul>
                </div>
            </div>

            <div class="row content ">
                <div class="col-md-5 order-1 order-md-2 " data-aos="fade-left ">
                    <img src="{% static 'assets/img/4.png' %} " class="img-fluid " alt=" ">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1 " data-aos="fade-right ">
                    <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
                    <p class="font-italic ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End Features Section -->



    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container col-lg-6 ">

            <div class="portfolio-details-container">
                <div class="owl-carousel portfolio-details-carousel">
                    <img src="{% static 'assets/img/portfolio/slide1.png' %}  " class="img-fluid" alt="">
                    <img src="{% static 'assets/img/portfolio/slide2.png' %}" class="img-fluid" alt="">
                    <img src="{% static 'assets/img/portfolio/slide3.png' %}" class="img-fluid" alt="">
                    <img src="{% static 'assets/img/portfolio/slide4.png' %}" class="img-fluid" alt="">
                </div>

                <!-- <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Web design</li>
                        <li><strong>Client</strong>: ASU Company</li>
                        <li><strong>Project date</strong>: 01 March, 2020</li>
                        <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                    </ul>
                </div> -->

            </div>

            <div class="portfolio-description">
                <h2>This is an example of portfolio detail</h2>
                <p>
                    Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora conse ctetur
                    dignissimos. Sequi nulla at esse enim cum deserunt eius.
                </p>
            </div>
        </div>

    </section>
    <!-- End Portfolio Details Section -->
    {% block js %}

    <!-- Vendor JS Files -->
    <!-- <script src="{% static 'assets/vendor/jquery/jquery.min.js' %} "></script> -->
    <!-- <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script> -->
    <!-- <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %} "></script> -->
    <!-- <script src="{% static 'assets/vendor/php-email-form/validate.js' %} "></script> -->
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
    <!-- <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %} "></script> -->
    <!-- <script src="{% static 'assets/vendor/venobox/venobox.min.js' %} "></script> -->
    <script src="{% static 'assets/vendor/aos/aos.js' %} "></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %} "></script>
    {% endblock js %} {% block footer %} {% endblock footer %} {% endblock%}
    <!-- End Why Us Section -->
