{#ESTE LIST CORRESPONDE AL MODULO DE USUARIOS / ADMINISTRADORES LISTAR#}

{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.6.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.6.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.6.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.6.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.6.0/dist/js/locales/es_ES.min.js' %}"></script>
    <script src="{% static 'users/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Nro</th>
    <th>Nombres</th>
    <th>DNI</th>
    <th>Estado</th>
    <th>Imagen</th>
    <th>Grupos</th>
    <th class="text-center"><i class="fas fa-wrench" aria-hidden="true"></i></th>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.get_full_name }}</td>
            <td class="text-center">{{ i.dni }}</td>
            <td class="text-center">
                {% if i.is_active %}
                    <b class="badge badge-success">Activo</b>
                {% else %}
                    <b class="badge badge-danger">Inactivo</b>
                {% endif %}
            </td>
            <td class="text-center">
                <img src="{{ i.get_image }}" style="width: 20px; height: 20px;" class="img-fluid mx-auto d-block">
            </td>
            <td>
                {% for g in i.groups.all %}
                    <span class="badge badge-success">{{ g.name }}</span>
                {% endfor %}
            </td>


            <td class="text-center">
                <a href="{% url 'user_update' i.id %}" data-toggle="tooltip" title="Editar registro"
                   class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a href="{% url 'user_delete' i.id %}" rel="delete" data-toggle="tooltip"
                   title="Eliminar registro" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
                <a rel="search_access" class="btn bg-navy btn-xs btn-flat" data-toggle="tooltip" title="Accesos">
                    <i class="fas fa-user-secret" aria-hidden="true"></i>
                </a>
                <a rel="login_with_user" class="btn bg-indigo btn-xs btn-flat" data-toggle="tooltip"
                   title="Loguearse">
                    <i class="fas fa-globe" aria-hidden="true"></i>
                </a>
                <a rel="reset_password" class="btn bg-teal btn-xs btn-flat" data-toggle="tooltip"
                   title="Resetear clave"><i class="fas fa-unlock-alt" aria-hidden="true"></i>
                </a>
                <a rel="change_password" class="btn bg-maroon btn-xs btn-flat" data-toggle="tooltip"
                   title="Cambio de clave"><i class="fas fa-lock" aria-hidden="true"></i>
                </a>
            </td>


        </tr>
    {% endfor %}
{% endblock %}

{% block content_list_before %}
    <div id="myModalAccessUsers" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b><i class='fas fa-search' aria-hidden='true'></i> Consulta de acceso al
                        sistema</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table width="100%" class="table table-bordered" id="tblAccessUsers">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>LocalHost</th>
                            <th>HostName</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalProfile" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b><i class='fas fa-search' aria-hidden='true'></i> Perfiles</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table width="100%" class="table table-bordered" id="tblProfiles">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalChangePasswordByUser" class="modal fade" role="dialog">
        <form class="form" id="frmChangePasswordByUser" method="POST" action="{{ model.url }}"
              enctype="multipart/form-data">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b><i class='fas fa-edit' aria-hidden='true'></i> Ingreso de nueva clave</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id_pass" name="id_pass" value="0">
                        <div class="form-group">
                            <label class="control-label">Introduzca un password:</label>
                            <input type="password" class="form-control" id="password" name="password" autofocus
                                   placeholder="Ingrese su password"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-flat btn-block">
                            <i class="fas fa-save"></i> Cambiar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}