{% load static %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">


        <!-- <h1 class="logo mr-auto"><a href="{% url 'index' %}">Ramirez</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="{% url 'index' %}" class="logo mr-auto">SGO<img src="{{ mainpage.get_icon_image }}" alt="" class="img-fluid"></a>#} -->
        <!-- <h1> -->
        <a href="{% url 'index' %}" class="logo mr-auto"><img src={% static 'img/default/logo.png' %} alt=""></a>
        </h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'index' %}">HOME</a></li>

                <li class="drop-down"><a href="">Embarazo</a>
                    <ul>
                        <li><a href="{% url 'about' %}">ANTES DEL EMBARAZO</a></li>
                        <li><a href="#">ASESORAMIENTO PREGESTACIONAL</a></li>
                        <li><a href="#">CONTROL DE GESTANTES</a></li>
                        <li><a href="#">ECOGRAFIA GENETICA</a></li>
                        <li><a href="#">ECOGRAFIA MORFOLOGICA</a></li>
                        <li><a href="#">ECOGRAFIA DE CRECIMIENTO DOPPLER</a></li>

                    </ul>
                </li>
                <li class="drop-down"><a href="">Patologia en el Embarazo</a>
                    <ul>
                        <li><a href="#">INFECCIONES VAGINALES</a></li>
                        <li><a href="#">ALTERACION DE LA REGLA</a></li>
                        <li><a href="#">ENDOMETRIOSIS</a></li>
                        <li><a href="#">MIOMAS UTERINOS</a></li>
                        <li><a href="#">POLIPOS</a></li>
                        <li><a href="#">TUMORES ANEXIALES</a></li>
                        <li><a href="#">SOP</a></li>
                        <li><a href="#">PATOLOGIA BENIGNA DE MAMA</a></li>

                    </ul>
                </li>
                <li class="drop-down"><a href="">Ginecologia</a>
                    <ul>
                        <li><a href="#">REVISION GINECOLOGICA</a></li>
                        <li><a href="#">PRUEBAS DIAGNOSTICAS</a></li>
                        <li><a href="#">METODOS ANTICONCEPTIVOS</a></li>

                    </ul>
                </li>
                <li class="drop-down"><a href="">Cirujia Ginecologica</a>
                    <ul>
                        <li><a href="#">HISTERECTOMIA ABDOMINAL Y VAGINAL</a></li>
                        <li><a href="#">QUISTECTOMIA CONVENCIONAL Y LAPAROSCOPICA</a></li>
                        <li><a href="#">PROLAPSO</a></li>
                        <li><a href="#">BX MAMA</a></li>
                        <li><a href="#">CONO LEEP</a></li>
                        <li><a href="#">LEGRADOS</a></li>
                        <li><a href="#">AMEU</a></li>

                    </ul>
                </li>
                <li class="drop-down"><a href="">Prevencion del Cancer</a>
                    <ul>
                        <li><a href="#">PAPANICOLAOU</a></li>
                        <li><a href="#">COLPOSCOPIA</a></li>
                        <li><a href="#">BIOPSIA</a></li>
                        <li><a href="#">CONO LEEP</a></li>

                    </ul>
                </li>
                <!-- <li><a href="#about">Acerca de nosotros</a></li> -->
                <!-- <li><a href="#services">Servicios</a></li> -->
                <!-- <li><a href="#pricing">Productos</a></li> -->
                <!-- <li><a href="#departments">Departamentos</a></li> -->
                <!-- <li><a href="#doctors">Doctores</a></li> -->
                <!-- <li><a href="#contact">Contactos</a></li> -->
                <!-- <li><a href="{% url 'signin' %}">Registrarse</a></li> -->
                <!-- <li><a href="{% url 'about' %}">xxx</a></li> -->

                <li>
                    {% if request.user.is_superuser %}
                    <a href="{% url 'dashboard' %}">Bienvenido {{ request.user.get_short_name }}</a> {% else %}
                    <a href="{% url 'login' %}">Revisar</a> {% endif %}
                </li>
                </li>
        </nav>
        <!-- .nav-menu -->
    </div>
</header>