{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bocor Bootstrap Template - Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <!-- =======================================================
  * Template Name: Bocor - v2.1.0
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html">Bocor<span>.</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#team">Team</a></li>
                    <li class="drop-down"><a href="">Drop Down</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="drop-down"><a href="#">Drop Down 2</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact Us</a></li>

                    <li class="get-started"><a href="#about">Get Started</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">

        <div class="container">
            <div class="row d-flex align-items-center">
                <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1 " data-aos="fade-right ">
                    <h1>Your new digital experience with Bocor</h1>
                    <h2>We are team of talanted designers making websites with Bootstrap</h2>
                    <a href="#about " class="btn-get-started scrollto ">Get Started</a>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img " data-aos="fade-left ">
                    <img src="{% static 'assets/img/hero-img.png' %} " class="img-fluid " alt=" ">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main ">

        <!-- ======= Clients Section ======= -->
        <section id="clients " class="clients section-bg ">
            <div class="container ">

                <div class="row no-gutters clients-wrap clearfix wow fadeInUp ">

                    <div class="col-lg-2 col-md-4 col-6 ">
                        <div class="client-logo ">
                            <img src="{% static 'assets/img/clients/client-1.png' %} " class="img-fluid " alt=" " data-aos="flip-right ">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 ">
                        <div class="client-logo ">
                            <img src="{% static 'assets/img/clients/client-2.png' %} " class="img-fluid " alt=" " data-aos="flip-right " data-aos-delay="100 ">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 ">
                        <div class="client-logo ">
                            <img src="{% static 'assets/img/clients/client-3.png' %} " class="img-fluid " alt=" " data-aos="flip-right " data-aos-delay="200 ">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 ">
                        <div class="client-logo ">
                            <img src="{% static 'assets/img/clients/client-4.png' %} " class="img-fluid " alt=" " data-aos="flip-right " data-aos-delay="300 ">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 ">
                        <div class="client-logo ">
                            <img src="{% static 'assets/img/clients/client-5.png' %} " class="img-fluid " alt=" " data-aos="flip-right " data-aos-delay="400 ">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 ">
                        <div class="client-logo ">
                            <img src="{% static 'assets/img/clients/client-6.png' %} " class="img-fluid " alt=" " data-aos="flip-right " data-aos-delay="500 ">
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Clients Section -->

        <!-- ======= About Section ======= -->
        <section id="about " class="about section-bg ">
            <div class="container ">

                <div class="row ">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start "></div>
                    <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch ">
                        <div class="content d-flex flex-column justify-content-center ">
                            <h3 data-aos="fade-in " data-aos-delay="100 ">Voluptatem dignissimos provident quasi</h3>
                            <p data-aos="fade-in ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            </p>
                            <div class="row ">
                                <div class="col-md-6 icon-box " data-aos="fade-up ">
                                    <i class="bx bx-receipt "></i>
                                    <h4><a href="# ">Corporis voluptates sit</a></h4>
                                    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                                </div>
                                <div class="col-md-6 icon-box " data-aos="fade-up " data-aos-delay="100 ">
                                    <i class="bx bx-cube-alt "></i>
                                    <h4><a href="# ">Ullamco laboris nisi</a></h4>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                                </div>
                                <div class="col-md-6 icon-box " data-aos="fade-up " data-aos-delay="200 ">
                                    <i class="bx bx-images "></i>
                                    <h4><a href="# ">Labore consequatur</a></h4>
                                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                                </div>
                                <div class="col-md-6 icon-box " data-aos="fade-up " data-aos-delay="300 ">
                                    <i class="bx bx-shield "></i>
                                    <h4><a href="# ">Beatae veritatis</a></h4>
                                    <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                                </div>
                            </div>
                        </div>
                        <!-- End .content-->
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Services Section ======= -->
        <section id="services " class="services section-bg ">
            <div class="container ">

                <div class="section-title ">
                    <h2 data-aos="fade-in ">Services</h2>
                    <p data-aos="fade-in ">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                        quidem hic quas.</p>
                </div>

                <div class="row ">
                    <div class="col-md-6 d-flex align-items-stretch " data-aos="fade-right ">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="{% static 'assets/img/services-1.jpg' %} " alt="... ">
                            </div>
                            <div class="card-body ">
                                <h5 class="card-title "><a href=" ">Temporibus laudantium</a></h5>
                                <p class="card-text ">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                                <div class="read-more "><a href="# "><i class="icofont-arrow-right "></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch " data-aos="fade-left ">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="{% static 'assets/img/services-2.jpg' %} " alt="... ">
                            </div>
                            <div class="card-body ">
                                <h5 class="card-title "><a href=" ">Aperiores voluptates</a></h5>
                                <p class="card-text ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                                <div class="read-more "><a href="# "><i class="icofont-arrow-right "></i> Read More</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex align-items-stretch " data-aos="fade-right ">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="{% static 'assets/img/services-3.jpg' %} " alt="... ">
                            </div>
                            <div class="card-body ">
                                <h5 class="card-title "><a href=" ">Veritatis natus nisi</a></h5>
                                <p class="card-text ">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                                <div class="read-more "><a href="# "><i class="icofont-arrow-right "></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch " data-aos="fade-left ">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="{% static 'assets/img/services-4.jpg' %} " alt="... ">
                            </div>
                            <div class="card-body ">
                                <h5 class="card-title "><a href=" ">Aliquam veritatis</a></h5>
                                <p class="card-text ">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut</p>
                                <div class="read-more "><a href="# "><i class="icofont-arrow-right "></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Features Section ======= -->
        <section id="features " class="features section-bg ">
            <div class="container ">

                <div class="section-title ">
                    <h2 data-aos="fade-in ">Features</h2>
                    <p data-aos="fade-in ">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                        quidem hic quas.</p>
                </div>

                <div class="row content ">
                    <div class="col-md-5 " data-aos="fade-right ">
                        <img src="{% static 'assets/img/features-1.svg' %} " class="img-fluid " alt=" ">
                    </div>
                    <div class="col-md-7 pt-4 " data-aos="fade-left ">
                        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                        <p class="font-italic ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <ul>
                            <li><i class="icofont-check "></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li><i class="icofont-check "></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        </ul>
                    </div>
                </div>

                <div class="row content ">
                    <div class="col-md-5 order-1 order-md-2 " data-aos="fade-left ">
                        <img src="{% static 'assets/img/features-2.svg' %} " class="img-fluid " alt=" ">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1 " data-aos="fade-right ">
                        <h3>Corporis temporibus maiores provident</h3>
                        <p class="font-italic ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                            id est laborum
                        </p>
                    </div>
                </div>

                <div class="row content ">
                    <div class="col-md-5 " data-aos="fade-right ">
                        <img src="{% static 'assets/img/features-3.svg' %} " class="img-fluid " alt=" ">
                    </div>
                    <div class="col-md-7 pt-5 " data-aos="fade-left ">
                        <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
                        <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                        <ul>
                            <li><i class="icofont-check "></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li><i class="icofont-check "></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li><i class="icofont-check "></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
                        </ul>
                    </div>
                </div>

                <div class="row content ">
                    <div class="col-md-5 order-1 order-md-2 " data-aos="fade-left ">
                        <img src="{% static 'assets/img/features-4.svg' %} " class="img-fluid " alt=" ">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1 " data-aos="fade-right ">
                        <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
                        <p class="font-italic ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                            id est laborum
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Features Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio " class="portfolio section-bg ">
            <div class="container ">

                <div class="section-title ">
                    <h2 data-aos="fade-in ">Portfolio</h2>
                    <p data-aos="fade-in ">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                        quidem hic quas.</p>
                </div>

                <div class="row ">
                    <div class="col-lg-12 ">
                        <ul id="portfolio-flters ">
                            <li data-filter="* " class="filter-active ">All</li>
                            <li data-filter=".filter-app ">App</li>
                            <li data-filter=".filter-card ">Card</li>
                            <li data-filter=".filter-web ">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container " data-aos="fade-up ">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %} " data-gall="portfolioGallery " class="venobox " title="App 1 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>App 1</h4>
                                <p>App</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %} " data-gall="portfolioGallery " class="venobox " title="Web 3 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>Web 3</h4>
                                <p>Web</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %} " data-gall="portfolioGallery " class="venobox " title="App 2 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>App 2</h4>
                                <p>App</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %} " data-gall="portfolioGallery " class="venobox " title="Card 2 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>Card 2</h4>
                                <p>Card</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %} " data-gall="portfolioGallery " class="venobox " title="Web 2 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>Web 2</h4>
                                <p>Web</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %} " data-gall="portfolioGallery " class="venobox " title="App 3 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>App 3</h4>
                                <p>App</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %} " data-gall="portfolioGallery " class="venobox " title="Card 1 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>Card 1</h4>
                                <p>Card</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %} " data-gall="portfolioGallery " class="venobox " title="Card 3 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>Card 3</h4>
                                <p>Card</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web ">
                        <div class="portfolio-wrap ">
                            <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %} " class="img-fluid " alt=" ">
                            <div class="portfolio-links ">
                                <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %} " data-gall="portfolioGallery " class="venobox " title="Web 3 "><i class="icofont-plus-circle "></i></a>
                                <a href="portfolio-details.html " title="More Details "><i class="icofont-link "></i></a>
                            </div>
                            <div class="portfolio-info ">
                                <h4>Web 3</h4>
                                <p>Web</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Portfolio Section -->

        <!-- ======= Team Section ======= -->
        <section id="team " class="team section-bg ">
            <div class="container ">

                <div class="section-title ">
                    <h2 data-aos="fade-in ">Team</h2>
                    <p data-aos="fade-in ">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                        quidem hic quas.</p>
                </div>

                <div class="row ">
                    <div class="col-xl-3 col-lg-4 col-md-6 ">
                        <div class="member " data-aos="fade-up ">
                            <div class="pic "><img src="{% static 'assets/img/team/team-1.jpg' %} " alt=" "></div>
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                            <div class="social ">
                                <a href=" "><i class="icofont-twitter "></i></a>
                                <a href=" "><i class="icofont-facebook "></i></a>
                                <a href=" "><i class="icofont-instagram "></i></a>
                                <a href=" "><i class="icofont-linkedin "></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 ">
                        <div class="member " data-aos="fade-up " data-aos-delay="100 ">
                            <div class="pic "><img src="{% static 'assets/img/team/team-2.jpg' %} " alt=" "></div>
                            <h4>Sarah Jhinson</h4>
                            <span>Product Manager</span>
                            <div class="social ">
                                <a href=" "><i class="icofont-twitter "></i></a>
                                <a href=" "><i class="icofont-facebook "></i></a>
                                <a href=" "><i class="icofont-instagram "></i></a>
                                <a href=" "><i class="icofont-linkedin "></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 ">
                        <div class="member " data-aos="fade-up " data-aos-delay="200 ">
                            <div class="pic "><img src="{% static 'assets/img/team/team-3.jpg' %} " alt=" "></div>
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <div class="social ">
                                <a href=" "><i class="icofont-twitter "></i></a>
                                <a href=" "><i class="icofont-facebook "></i></a>
                                <a href=" "><i class="icofont-instagram "></i></a>
                                <a href=" "><i class="icofont-linkedin "></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 ">
                        <div class="member " data-aos="fade-up " data-aos-delay="300 ">
                            <div class="pic "><img src="{% static 'assets/img/team/team-4.jpg' %} " alt=" "></div>
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                            <div class="social ">
                                <a href=" "><i class="icofont-twitter "></i></a>
                                <a href=" "><i class="icofont-facebook "></i></a>
                                <a href=" "><i class="icofont-instagram "></i></a>
                                <a href=" "><i class="icofont-linkedin "></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Team Section -->

        <!-- ======= Pricing Section ======= -->
        <section id="pricing " class="pricing section-bg ">
            <div class="container ">

                <div class="section-title ">
                    <h2 data-aos="fade-in ">Pricing</h2>
                    <p data-aos="fade-in ">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                        quidem hic quas.</p>
                </div>

                <div class="row no-gutters ">

                    <div class="col-lg-4 box " data-aos="zoom-in ">
                        <h3>Free</h3>
                        <h4>$0<span>per month</span></h4>
                        <ul>
                            <li><i class="bx bx-check "></i> Quam adipiscing vitae proin</li>
                            <li><i class="bx bx-check "></i> Nec feugiat nisl pretium</li>
                            <li><i class="bx bx-check "></i> Nulla at volutpat diam uteera</li>
                            <li class="na "><i class="bx bx-x "></i> <span>Pharetra massa massa ultricies</span></li>
                            <li class="na "><i class="bx bx-x "></i> <span>Massa ultricies mi quis hendrerit</span></li>
                        </ul>
                        <a href="# " class="get-started-btn ">Get Started</a>
                    </div>

                    <div class="col-lg-4 box featured " data-aos="zoom-in ">
                        <span class="featured-badge ">Featured</span>
                        <h3>Business</h3>
                        <h4>$29<span>per month</span></h4>
                        <ul>
                            <li><i class="bx bx-check "></i> Quam adipiscing vitae proin</li>
                            <li><i class="bx bx-check "></i> Nec feugiat nisl pretium</li>
                            <li><i class="bx bx-check "></i> Nulla at volutpat diam uteera</li>
                            <li><i class="bx bx-check "></i> Pharetra massa massa ultricies</li>
                            <li><i class="bx bx-check "></i> Massa ultricies mi quis hendrerit</li>
                        </ul>
                        <a href="# " class="get-started-btn ">Get Started</a>
                    </div>

                    <div class="col-lg-4 box " data-aos="zoom-in ">
                        <h3>Developer</h3>
                        <h4>$49<span>per month</span></h4>
                        <ul>
                            <li><i class="bx bx-check "></i> Quam adipiscing vitae proin</li>
                            <li><i class="bx bx-check "></i> Nec feugiat nisl pretium</li>
                            <li><i class="bx bx-check "></i> Nulla at volutpat diam uteera</li>
                            <li><i class="bx bx-check "></i> Pharetra massa massa ultricies</li>
                            <li><i class="bx bx-check "></i> Massa ultricies mi quis hendrerit</li>
                        </ul>
                        <a href="# " class="get-started-btn ">Get Started</a>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Pricing Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq " class="faq section-bg ">
            <div class="container ">

                <div class="section-title ">
                    <h2 data-aos="fade-in ">Frequently Asked Questions</h2>
                    <p data-aos="fade-in ">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                        quidem hic quas.</p>
                </div>

                <div class="row faq-item d-flex align-items-stretch " data-aos="fade-up ">
                    <div class="col-lg-5 ">
                        <i class="bx bx-help-circle "></i>
                        <h4>Non consectetur a erat nam at lectus urna duis?</h4>
                    </div>
                    <div class="col-lg-7 ">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                        </p>
                    </div>
                </div>
                <!-- End F.A.Q Item-->

                <div class="row faq-item d-flex align-items-stretch " data-aos="fade-up " data-aos-delay="100 ">
                    <div class="col-lg-5 ">
                        <i class="bx bx-help-circle "></i>
                        <h4>Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</h4>
                    </div>
                    <div class="col-lg-7 ">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
                        </p>
                    </div>
                </div>
                <!-- End F.A.Q Item-->

                <div class="row faq-item d-flex align-items-stretch " data-aos="fade-up " data-aos-delay="200 ">
                    <div class="col-lg-5 ">
                        <i class="bx bx-help-circle "></i>
                        <h4>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?</h4>
                    </div>
                    <div class="col-lg-7 ">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus.
                        </p>
                    </div>
                </div>
                <!-- End F.A.Q Item-->

                <div class="row faq-item d-flex align-items-stretch " data-aos="fade-up " data-aos-delay="300 ">
                    <div class="col-lg-5 ">
                        <i class="bx bx-help-circle "></i>
                        <h4>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h4>
                    </div>
                    <div class="col-lg-7 ">
                        <p>
                            Aperiam itaque sit optio et deleniti eos nihil quidem cumque. Voluptas dolorum accusantium sunt sit enim. Provident consequuntur quam aut reiciendis qui rerum dolorem sit odio. Repellat assumenda soluta sunt pariatur error doloribus fuga.
                        </p>
                    </div>
                </div>
                <!-- End F.A.Q Item-->

                <div class="row faq-item d-flex align-items-stretch " data-aos="fade-up " data-aos-delay="400 ">
                    <div class="col-lg-5 ">
                        <i class="bx bx-help-circle "></i>
                        <h4>Tempus quam pellentesque nec nam aliquam sem et tortor consequat?</h4>
                    </div>
                    <div class="col-lg-7 ">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                        </p>
                    </div>
                </div>
                <!-- End F.A.Q Item-->

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact " class="contact section-bg ">
            <div class="container ">

                <div class="section-title ">
                    <h2 data-aos="fade-in ">Contact</h2>
                    <p data-aos="fade-in ">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                        quidem hic quas.</p>
                </div>

                <div class="row ">

                    <div class="col-lg-6 ">

                        <div class="row ">
                            <div class="col-md-12 ">
                                <div class="info-box " data-aos="fade-up ">
                                    <i class="bx bx-map "></i>
                                    <h3>Our Address</h3>
                                    <p>A108 Adam Street, New York, NY 535022</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="info-box mt-4 " data-aos="fade-up " data-aos-delay="100 ">
                                    <i class="bx bx-envelope "></i>
                                    <h3>Email Us</h3>
                                    <p>info@example.com<br>contact@example.com</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="info-box mt-4 " data-aos="fade-up " data-aos-delay="100 ">
                                    <i class="bx bx-phone-call "></i>
                                    <h3>Call Us</h3>
                                    <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 ">
                        <form action="forms/contact.php " method="post " role="form " class="php-email-form " data-aos="fade-up ">
                            <div class="form-row ">
                                <div class="col-md-6 form-group ">
                                    <input type="text " name="name " class="form-control " id="name " placeholder="Your Name " data-rule="minlen:4 " data-msg="Please enter at least 4 chars " />
                                    <div class="validate "></div>
                                </div>
                                <div class="col-md-6 form-group ">
                                    <input type="email " class="form-control " name="email " id="email " placeholder="Your Email " data-rule="email " data-msg="Please enter a valid email " />
                                    <div class="validate "></div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <input type="text " class="form-control " name="subject " id="subject " placeholder="Subject " data-rule="minlen:4 " data-msg="Please enter at least 8 chars of subject " />
                                <div class="validate "></div>
                            </div>
                            <div class="form-group ">
                                <textarea class="form-control " name="message " rows="5 " data-rule="required " data-msg="Please write something for us " placeholder="Message "></textarea>
                                <div class="validate "></div>
                            </div>
                            <div class="mb-3 ">
                                <div class="loading ">Loading</div>
                                <div class="error-message "></div>
                                <div class="sent-message ">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center "><button type="submit ">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer ">

        <div class="footer-top ">

            <div class="container " data-aos="fade-up ">

                <div class="row justify-content-center ">
                    <div class="col-lg-6 ">
                        <h3>Bocor</h3>
                        <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
                    </div>
                </div>

                <div class="row footer-newsletter justify-content-center ">
                    <div class="col-lg-6 ">
                        <form action=" " method="post ">
                            <input type="email " name="email " placeholder="Enter your Email "><input type="submit " value="Subscribe ">
                        </form>
                    </div>
                </div>

                <div class="social-links ">
                    <a href="# " class="twitter "><i class="bx bxl-twitter "></i></a>
                    <a href="# " class="facebook "><i class="bx bxl-facebook "></i></a>
                    <a href="# " class="instagram "><i class="bx bxl-instagram "></i></a>
                    <a href="# " class="google-plus "><i class="bx bxl-skype "></i></a>
                    <a href="# " class="linkedin "><i class="bx bxl-linkedin "></i></a>
                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix ">
            <div class="copyright ">
                &copy; Copyright <strong><span>Bocor</span></strong>. All Rights Reserved
            </div>
            <div class="credits ">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
                Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="# " class="back-to-top "><i class="icofont-simple-up "></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %} "></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %} "></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
    <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %} "></script>
    <script src="{% static 'assets/vendor/venobox/venobox.min.js' %} "></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %} "></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %} "></script>

</body>

</html>