{% extends 'login/base.html' %} {% load static %} {% load widget_tweaks %} {% block head_login %}
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
<script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" />
<script src="{% static 'mainpage/js/sign_in.js' %}"></script>
{% endblock %} {% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <form method="post" id="frmLogin" data-url="{% url 'index' %}">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b><i class="fas fa-users"></i> Registrate, es Gratis</b>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Nombres:</label> {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Apellidos:</label> {{ form.last_name }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Dni:</label> {{ form.dni }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <!-- <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Sexo:</label> {{ form.gender }}
                                </div>
                            </div> -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Teléfono celular:</label> {{ form.mobile_phone }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Fecha de nacimiento:</label> {{ form.birthdate }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Email:</label> {{ form.email }}
                                </div>
                            </div>
                            <!-- <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Teléfono fijo:</label> {{ form.landline }}
                                </div>
                            </div> -->
                        </div>

                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">#} {# <label>Parroquia:</label>#} {# {{ form.parish }}#} {# </div>#} {# </div>#} {# </div>#}
                                 -->
                        <div class="row">
                            <!-- <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Imagen:</label> {{ form.image|add_class:'form-control' }}
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Password:</label> {{ form.password }}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <!-- <div class="col-lg-8">
                                <div class="form-group">
                                    <label>Dirección:</label> {{ form.address }}
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success btn-block btn-flat">
                                <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Registrarse
                            </button>
                        <hr>
                        <p class="mt-3 text-center desc">
                            Si deseas ir a la página principal <a href="{% url 'index' %}">da click aqui <i
                                    class="fas fa-home" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}